<!doctype html>
<html>
  <head>
    <title>Example of the Authorization Code flow with Spotify</title>
  </head>

  <body>
    <div id="login">
      <h1>Listen to This</h1>
      <%= link_to 'Sign in with Spotify', '/auth/spotify' %>
    </div>
  </body>
</html>
