<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Listen to This</title>
  </head>
  <body>
    Type in an artist, genre or mood and we'll do the rest
    <%= form_tag("/auth/spotify", method: "get") do %>
      <%= text_field_tag(:playlist) %>
      <%= submit_tag("Generate") %>
    <% end %>
  </body>
</html>
